
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem; /*Changes all font sizes. rem is relative to the body */
    background-color: antiquewhite;
    line-height: 1.5;
    margin: 0;

}

header {
    background: rgb(0, 0, 0);
    padding: 0.5ch;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(251, 241, 228);
    margin: 0;
}

nav {
    background-color: rgba(66, 51, 51, 0.5);
    outline-style: double;
    align-content: center;
    overflow: hidden;
    padding: 0.2ch;
}

nav a {
    float: left;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    padding: 0.5ch;
    padding-right: 2ch;
    padding-left: 2ch;
}

h1, h2, h3, h4 {
    line-height: 1;
}

.bodyBox {
    padding: min(100% - 3rem, var(--container-max, 8ch));
    margin-inline: auto;
    margin-top: 10ch;
    background: white;
    box-shadow: 0ch 0ch 1.5ch 0ch rgb(207, 177, 168);
}

footer {
    background: rgb(244, 244, 244);
    margin: 0%;
    padding: 5ch;
    text-align: center;
}

main {
   width: min(100% - 3rem, var(--container-max, 80ch));/*Sets a fixed sizes for the invisible box the text is in. Ch is relative to the letters size?*/
   margin-inline: auto; /*aligns content in center of screen*/
}

a {
    text-decoration: none;
    color: rgb(0, 34, 172);
}

a:hover{
   color: rgb(255, 0, 0); 
   text-decoration: underline;
}

footer {
    margin-top: 5rem;
}

li {
    list-style: square;
    padding-bottom: 1ch;
}

.lead {
    font-size: 1.6rem;
}

.bread {
    text-indent: 3rem;
    padding: 0% !important;
}

.listTale {
    position: relative;
    right: 3.3ch;
    font-size: 1.1rem;
}

.storyIntroduction {
    text-align: center;
}

img {
    max-width: 100%;
}

.imageText {
    font-size: 1rem;
}

.toTop {
    position: fixed;
    margin-inline: min(100% - 3rem, var(--container-max, 2ch));
    margin-top: min(100% - 3rem, var(--container-max, 40ch));
    padding: 1ch;
    border-radius: 3ch;
    background-color: rgba(51, 0, 255, 0.4);
}
