body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem; /*Changes all font sizes. rem is relative to the body */
    background-color: antiquewhite;
    line-height: 1.5;
    margin: 0;

}

header {
    background: rgb(192, 127, 92);
    padding: 2.5ch;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

h1, h2, h3, h4 {
    line-height: 1;
}

.bodyBox {
    padding: 10ch;
    margin-top: 10ch;
    background: white;
}

footer {
    background: white;
    margin: 0;
    padding: 5ch;
    text-align: center;
}

main {
   max-width: 80ch; /*Sets a fixed sizes for the invisible box the text is in. Ch is relative to the letters size?*/
   margin-inline: auto; /*aligns content in center of screen*/
}

a {
    text-decoration: none;
    color: rgb(0, 34, 172);
}

a:hover{
   color: rgb(255, 0, 0); 
   text-decoration: underline;
}

footer {
    margin-top: 5rem;
}

li {
    list-style: square;
    padding-bottom: 1ch;
}

.lead {
    font-size: 1.6rem;
}


